:host {
  height: 100%;
  width: 100%;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

mat-drawer-container {
  width: 100%;
  height: 100%;
}

mat-drawer {
  height: 100%;
  max-width: 400px;
  background-color: gray;
  overflow-x: hidden;
}

mat-drawer-content {
  height: 100%;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  &:hover {
    cursor: pointer;
  }
}

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

li {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: blue;
      color: #ffff;
    }
  }
}
